* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    min-height: 100vh;
    background-color: #2b2b2b;
    color: white;

}

body.dialog-open {
    overflow: hidden;
}

main {
    width: 100%;
    max-width: 1440px;
    min-height: calc(100vh - 128px);
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}


.d-none {
    display: none !important;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 24px;
}
